<div class="card">
  <p class="salutation-text">Hello {{ department }},</p>
  <p class="body-text">My name is {{ name }}, I am reaching out about {{ reason }} information.</p>
  <p class="body-text">{{ message }}</p>
  <p class="body-text">Reach me at {{ userEmail }}{{#if phone}} or at {{phone}}.{{else}}.{{/if}}</p>
</div>