<!DOCTYPE html>
<html>

<head>
  {{{style}}}
</head>

<body>
  <div class="email-wrapper">
    <div class="email-container">
      <img class="brand" src="https://s3.amazonaws.com/assets.karmawallet/karmawallet-logo-129x49.png" alt="KarmaWallet Logo" />
      <h3>We Make Choosing Sustainable Brands Easy 💜</h3>
      <p class="email-body">Hi {{name}},</p>
      <p class="email-body">Welcome to Karma Wallet! We leverage the power of data to make shopping more transparent so that you can easily choose the brands that align best with your values.</p>
      <div class="cta-container">
        <a class="cta-link" href="{{domain}}/account">Track your Impact</a>
      </div>
      <p class="email-body">
        Thank you for your commitment to striving for a more conscious, sustainable future 🌎. We look forward to taking this journey with you!
      </p>
      <p class="subtext">*Karma Wallet never has access to your credit card number, and never shares your data with third parties.</p>
      <a class="subtext" href="{{domain}}/privacy">(Our Privacy Policy)</a>
      <div class="email-signature">
        <p>Take care!</p>
        <p>Jayant Khadilkar</p>
        <p>Co-Founder/CEO</p>
        <p>Karma Wallet</p>
      </div>
    </div>
    <div class="link-container">
      <p class="link-first"><a href="{{domain}}">Karma Wallet</a> | <a href="{{domain}}/privacy">Privacy Policy</a></p>
      <p class="link-second"><a href="mailto:info@karmawallet.io">info@karmawallet.io</a></p>
    </div>
  </div>
</body>

</html>