<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    The investigation into your Karma Wallet Card dispute claim for the transaction of ${{amount}} made on {{date}} at {{companyName}} has been
completed. The claim has been resolved in your favor and we have credited your account for ${{amount}} as a result.
  </p>
  <p class='body-text'>
    We appreciate your patience and cooperation throughout the dispute claim process.
  </p>
  {{>disputeSignature}}
</div>
