<html>

<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  {{{style}}}
</head>

<body>
  <div class="email-wrapper">
    <div class="email-container">
      <div class="brand-container">
        <div class="brand-container">
          <a href="{{domain}}"><img class="brand" src="https://cdn.karmawallet.io/uploads/2thvjndfnw-kw-light-logo.png"
              alt="Karma Wallet Logo" /></a>
        </div>
      </div>
      <div class="card">
        <p class="email-body salutation">{{name}}, you earned a Karma Cash reward.</p>
        <p class="email-body message">Your recent purchase at {{companyName}} earned a Karma Cash reward.</p>
        <div class="cta-container">
          <a class="cta-link"
            href="{{domain}}/browse-companies?sort=companyName&ratings=positive%2Cneutral&cashback=true">See other
            available offers</a>
        </div>
        <p class="email-body support">
          <a href="mailto:info@karmawallet.io">For Support, contact Karma Wallet</a>
        </p>
      </div>
      <div class="footer">
        <div class="icons-container">
          <a href="https://www.instagram.com/karmawallet/"><svg xmlns="http://www.w3.org/2000/svg" width="25"
              height="24" viewBox="0 0 25 24" fill="none">
              <path
                d="M16.517 2H8.447C6.87015 2.00185 5.35844 2.62914 4.24353 3.74424C3.12862 4.85933 2.50159 6.37115 2.5 7.948L2.5 16.018C2.50185 17.5948 3.12914 19.1066 4.24424 20.2215C5.35933 21.3364 6.87115 21.9634 8.448 21.965H16.518C18.0948 21.9631 19.6066 21.3359 20.7215 20.2208C21.8364 19.1057 22.4634 17.5938 22.465 16.017V7.947C22.4631 6.37015 21.8359 4.85844 20.7208 3.74353C19.6057 2.62862 18.0938 2.00159 16.517 2ZM20.457 16.017C20.457 16.5344 20.3551 17.0468 20.1571 17.5248C19.9591 18.0028 19.6689 18.4371 19.303 18.803C18.9371 19.1689 18.5028 19.4591 18.0248 19.6571C17.5468 19.8551 17.0344 19.957 16.517 19.957H8.447C7.40222 19.9567 6.40032 19.5415 5.66165 18.8026C4.92297 18.0638 4.508 17.0618 4.508 16.017V7.947C4.50827 6.90222 4.92349 5.90032 5.66235 5.16165C6.40122 4.42297 7.40322 4.008 8.448 4.008H16.518C17.5628 4.00827 18.5647 4.42349 19.3034 5.16235C20.042 5.90122 20.457 6.90322 20.457 7.948V16.017Z"
                fill="{{colors.white}}" />
              <path
                d="M12.4821 6.81909C11.1135 6.82121 9.8016 7.36588 8.83397 8.3337C7.86633 9.30152 7.32192 10.6135 7.32007 11.9821C7.32166 13.351 7.86609 14.6634 8.83397 15.6315C9.80185 16.5996 11.1142 17.1442 12.4831 17.1461C13.8522 17.1445 15.1647 16.5999 16.1328 15.6318C17.1009 14.6637 17.6455 13.3512 17.6471 11.9821C17.645 10.6132 17.1 9.30098 16.1318 8.33329C15.1635 7.3656 13.851 6.82141 12.4821 6.82009V6.81909ZM12.4821 15.1381C11.6453 15.1381 10.8428 14.8057 10.2511 14.214C9.65947 13.6223 9.32707 12.8198 9.32707 11.9831C9.32707 11.1463 9.65947 10.3438 10.2511 9.75217C10.8428 9.16049 11.6453 8.82809 12.4821 8.82809C13.3188 8.82809 14.1213 9.16049 14.713 9.75217C15.3047 10.3438 15.6371 11.1463 15.6371 11.9831C15.6371 12.8198 15.3047 13.6223 14.713 14.214C14.1213 14.8057 13.3188 15.1381 12.4821 15.1381Z"
                fill="{{colors.white}}" />
              <path
                d="M17.6559 8.09509C18.3391 8.09509 18.8929 7.54127 18.8929 6.85809C18.8929 6.17492 18.3391 5.62109 17.6559 5.62109C16.9728 5.62109 16.4189 6.17492 16.4189 6.85809C16.4189 7.54127 16.9728 8.09509 17.6559 8.09509Z"
                fill="{{colors.white}}" />
            </svg></a>
          <a href="https://www.linkedin.com/company/karmawallet/"><svg xmlns="http://www.w3.org/2000/svg" width="25"
              height="24" viewBox="0 0 25 24" fill="none">
              <path
                d="M17.5 13.13V16.827H15.357V13.377C15.357 12.511 15.047 11.92 14.271 11.92C13.679 11.92 13.326 12.318 13.171 12.704C13.115 12.842 13.1 13.034 13.1 13.226V16.827H10.956C10.956 16.827 10.985 10.985 10.956 10.38H13.1V11.293L13.086 11.314H13.1V11.293C13.385 10.853 13.893 10.228 15.032 10.228C16.442 10.228 17.5 11.15 17.5 13.13ZM8.713 7.271C7.98 7.271 7.5 7.753 7.5 8.385C7.5 9.005 7.966 9.5 8.685 9.5H8.699C9.447 9.5 9.912 9.004 9.912 8.385C9.898 7.753 9.447 7.271 8.713 7.271ZM7.627 16.827H9.771V10.38H7.627V16.827Z"
                fill="{{colors.white}}" />
              <path
                d="M6.5 4C5.96957 4 5.46086 4.21071 5.08579 4.58579C4.71071 4.96086 4.5 5.46957 4.5 6V18C4.5 18.5304 4.71071 19.0391 5.08579 19.4142C5.46086 19.7893 5.96957 20 6.5 20H18.5C19.0304 20 19.5391 19.7893 19.9142 19.4142C20.2893 19.0391 20.5 18.5304 20.5 18V6C20.5 5.46957 20.2893 4.96086 19.9142 4.58579C19.5391 4.21071 19.0304 4 18.5 4H6.5ZM6.5 2H18.5C19.5609 2 20.5783 2.42143 21.3284 3.17157C22.0786 3.92172 22.5 4.93913 22.5 6V18C22.5 19.0609 22.0786 20.0783 21.3284 20.8284C20.5783 21.5786 19.5609 22 18.5 22H6.5C5.43913 22 4.42172 21.5786 3.67157 20.8284C2.92143 20.0783 2.5 19.0609 2.5 18V6C2.5 4.93913 2.92143 3.92172 3.67157 3.17157C4.42172 2.42143 5.43913 2 6.5 2Z"
                fill="{{colors.white}}" />
            </svg></a>
          <a href="https://twitter.com/KarmaWallet"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
              viewBox="0 0 25 24" fill="none">
              <path
                d="M17.5 8.94701C17.132 9.10701 16.737 9.21701 16.322 9.26501C16.746 9.01501 17.07 8.61901 17.224 8.14801C16.826 8.37901 16.388 8.54801 15.92 8.63801C15.7269 8.43558 15.4945 8.27462 15.2372 8.16493C14.9798 8.05524 14.7028 7.99913 14.423 8.00001C13.29 8.00001 12.372 8.90501 12.372 10.02C12.372 10.178 12.39 10.332 12.425 10.48C11.6123 10.4414 10.8166 10.2339 10.0886 9.87056C9.36068 9.50726 8.71643 8.99621 8.197 8.37001C8.01456 8.67711 7.91851 9.02781 7.919 9.38501C7.919 10.085 8.282 10.705 8.832 11.066C8.50644 11.0558 8.18786 10.9691 7.902 10.813V10.838C7.90509 11.3075 8.0708 11.7613 8.37092 12.1224C8.67103 12.4834 9.087 12.7292 9.548 12.818C9.24536 12.898 8.92869 12.9096 8.621 12.852C8.75513 13.2559 9.01167 13.608 9.35502 13.8594C9.69837 14.1108 10.1115 14.2491 10.537 14.255C9.80696 14.8176 8.91064 15.1215 7.989 15.119C7.824 15.119 7.661 15.109 7.5 15.091C8.44047 15.6863 9.53096 16.0016 10.644 16C14.418 16 16.481 12.922 16.481 10.252L16.474 9.99001C16.8763 9.70729 17.2239 9.3539 17.5 8.94701Z"
                fill="{{colors.white}}" />
              <path
                d="M6.5 4C5.96957 4 5.46086 4.21071 5.08579 4.58579C4.71071 4.96086 4.5 5.46957 4.5 6V18C4.5 18.5304 4.71071 19.0391 5.08579 19.4142C5.46086 19.7893 5.96957 20 6.5 20H18.5C19.0304 20 19.5391 19.7893 19.9142 19.4142C20.2893 19.0391 20.5 18.5304 20.5 18V6C20.5 5.46957 20.2893 4.96086 19.9142 4.58579C19.5391 4.21071 19.0304 4 18.5 4H6.5ZM6.5 2H18.5C19.5609 2 20.5783 2.42143 21.3284 3.17157C22.0786 3.92172 22.5 4.93913 22.5 6V18C22.5 19.0609 22.0786 20.0783 21.3284 20.8284C20.5783 21.5786 19.5609 22 18.5 22H6.5C5.43913 22 4.42172 21.5786 3.67157 20.8284C2.92143 20.0783 2.5 19.0609 2.5 18V6C2.5 4.93913 2.92143 3.92172 3.67157 3.17157C4.42172 2.42143 5.43913 2 6.5 2Z"
                fill="{{colors.white}}" />
            </svg></a>
          <a href="https://www.facebook.com/karmawallet1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
              viewBox="0 0 25 24" fill="none">
              <path
                d="M11.195 8.937V10.314H10.187V11.997H11.195V17H13.267V11.997H14.657C14.657 11.997 14.788 11.19 14.851 10.307H13.275V9.157C13.275 8.984 13.501 8.753 13.725 8.753H14.853V7H13.318C11.144 7 11.195 8.685 11.195 8.937Z"
                fill="{{colors.white}}" />
              <path
                d="M6.5 4C5.96957 4 5.46086 4.21071 5.08579 4.58579C4.71071 4.96086 4.5 5.46957 4.5 6V18C4.5 18.5304 4.71071 19.0391 5.08579 19.4142C5.46086 19.7893 5.96957 20 6.5 20H18.5C19.0304 20 19.5391 19.7893 19.9142 19.4142C20.2893 19.0391 20.5 18.5304 20.5 18V6C20.5 5.46957 20.2893 4.96086 19.9142 4.58579C19.5391 4.21071 19.0304 4 18.5 4H6.5ZM6.5 2H18.5C19.5609 2 20.5783 2.42143 21.3284 3.17157C22.0786 3.92172 22.5 4.93913 22.5 6V18C22.5 19.0609 22.0786 20.0783 21.3284 20.8284C20.5783 21.5786 19.5609 22 18.5 22H6.5C5.43913 22 4.42172 21.5786 3.67157 20.8284C2.92143 20.0783 2.5 19.0609 2.5 18V6C2.5 4.93913 2.92143 3.92172 3.67157 3.17157C4.42172 2.42143 5.43913 2 6.5 2Z"
                fill="{{colors.white}}" />
            </svg></a>
          <a href="https://www.tiktok.com/@karma.wallet"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"
              viewBox="0 0 25 24" fill="none">
              <path
                d="M15.3226 9.45573C15.319 9.49907 15.3138 9.53059 15.3138 9.56183C15.3132 11.155 15.3144 12.7482 15.3123 14.3414C15.3117 14.6915 15.259 15.0351 15.1525 15.3726C14.8884 16.2104 14.3635 16.8703 13.6004 17.3679C13.3077 17.5587 12.9869 17.6992 12.6486 17.8072C12.1822 17.9561 11.7028 18.0186 11.2132 17.9952C10.773 17.9744 10.3461 17.8869 9.93512 17.7298C9.2872 17.4822 8.75053 17.1 8.32089 16.5869C8.10593 16.3303 7.93287 16.0503 7.7987 15.7477C7.57619 15.2465 7.47881 14.7253 7.50383 14.1852C7.5174 13.8928 7.57348 13.6055 7.66182 13.3229C7.818 12.8236 8.07759 12.3773 8.43908 11.9847C8.84701 11.5414 9.33996 11.2051 9.92155 10.9831C10.4157 10.7945 10.9292 10.7056 11.4616 10.7075C11.6485 10.7081 11.6485 10.7089 11.6485 10.8823C11.6485 11.3931 11.6485 11.9039 11.6485 12.4144C11.6485 12.5017 11.6449 12.5056 11.5496 12.4986C10.7262 12.4367 9.96979 12.8588 9.6104 13.5359C9.42709 13.8813 9.36679 14.2511 9.4298 14.6293C9.51935 15.166 9.8106 15.5952 10.2921 15.9017C10.7109 16.1685 11.183 16.2686 11.6814 16.2011C12.3676 16.1079 12.901 15.782 13.2495 15.2155C13.4039 14.9645 13.4819 14.6892 13.4825 14.398C13.4874 11.7764 13.4913 9.1546 13.4958 6.53305C13.4958 6.39262 13.4967 6.2519 13.4967 6.11147C13.4967 6.0124 13.5067 6.00227 13.6113 6.00199C13.9601 6.00143 14.309 6.00087 14.6578 6.00058C14.8486 6.00058 15.0392 6.00227 15.23 6.00002C15.3054 5.99918 15.3452 6.02282 15.3539 6.09796C15.3814 6.33633 15.4507 6.56514 15.5397 6.78972C15.6775 7.13757 15.877 7.45109 16.1327 7.73365C16.4526 8.08684 16.837 8.36349 17.2853 8.56021C17.5929 8.6953 17.9134 8.79239 18.2525 8.83011C18.3174 8.83742 18.3828 8.84418 18.4452 8.8605C18.4672 8.86613 18.4953 8.89821 18.4968 8.9196C18.5025 9.01079 18.4989 9.10225 18.4989 9.19372C18.4989 9.71155 18.4989 10.2294 18.4989 10.7469C18.4989 10.8553 18.4983 10.8567 18.3837 10.8623C17.9562 10.8834 17.5389 10.8342 17.1313 10.7095C16.3917 10.4838 15.8014 10.0729 15.3576 9.47684C15.3539 9.47177 15.3458 9.46952 15.3229 9.45573H15.3226Z"
                fill="{{colors.white}}" />
              <path
                d="M6.5 4C5.96957 4 5.46086 4.21071 5.08579 4.58579C4.71071 4.96086 4.5 5.46957 4.5 6V18C4.5 18.5304 4.71071 19.0391 5.08579 19.4142C5.46086 19.7893 5.96957 20 6.5 20H18.5C19.0304 20 19.5391 19.7893 19.9142 19.4142C20.2893 19.0391 20.5 18.5304 20.5 18V6C20.5 5.46957 20.2893 4.96086 19.9142 4.58579C19.5391 4.21071 19.0304 4 18.5 4H6.5ZM6.5 2H18.5C19.5609 2 20.5783 2.42143 21.3284 3.17157C22.0786 3.92172 22.5 4.93913 22.5 6V18C22.5 19.0609 22.0786 20.0783 21.3284 20.8284C20.5783 21.5786 19.5609 22 18.5 22H6.5C5.43913 22 4.42172 21.5786 3.67157 20.8284C2.92143 20.0783 2.5 19.0609 2.5 18V6C2.5 4.93913 2.92143 3.92172 3.67157 3.17157C4.42172 2.42143 5.43913 2 6.5 2Z"
                fill="{{colors.white}}" />
            </svg></a>
        </div>
        <div class="link-container">
          <span class="link"><a href="{{domain}}">Karma Wallet</a></span>
          <span class="link-separator">
            |
          </span>
          <span class="link"><a href="{{domain}}/privacy">Privacy Policy</a></span>
          <span class="link-separator">
            |
          </span>
          <span class="link last"><a href="mailto:info@karmawallet.io">info@karmawallet.io</a></span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
