<!DOCTYPE html>
<html>

<head>
  {{{style}}}
</head>

<body>
  <div class="email-wrapper">
    <div class="email-container">
      <img class="brand" src="https://cdn.karmawallet.io/uploads/8EiC9aF8Db-kw-dark-logo.svg" alt="KarmaWallet Logo" />
      <h3>When it Comes to Impact, we Make it <span class="underline">Personal</span> 💙</h3>
      <p class="email-body">We hope you're enjoying your Karma Wallet!</p>
      <p class="email-body">Did you know you can view your personal shopping impact and carbon footprint (as well as choose higher impact brands and offset your individual emissions)?</p>
      <p class="email-body">To start tracking your shopping impact, head to your account and link your credit card in our secure portal*.
        {{#if (ne groupName undefined)}}
          {{groupName}} will match the offsets you purchase!
        {{/if}}
      </p>
      <p class="subtext">*Karma Wallet never has access to your credit card number, and never shares your data with third parties.</p>
      <a class="subtext" href="{{domain}}/privacy">(Our Privacy Policy)</a>
      <div class="cta-container">
        <a class="cta-link" href="{{domain}}/account">Track your Impact</a>
      </div>
      <p class="email-body">Thank you for your commitment to striving for a more conscious, sustainable future 🌎.</p>
      <div class="email-signature">
        <p>Take care!</p>
        <p>Jayant Khadilkar</p>
        <p>Co-Founder/CEO</p>
        <p>Karma Wallet</p>
      </div>
    </div>
    <div class="link-container">
      <p class="link-first"><a href="{{domain}}">Karma Wallet</a> | <a href="{{domain}}/privacy">Privacy Policy</a></p>
      <p class="link-second"><a href="mailto:info@karmawallet.io">info@karmawallet.io</a></p>
    </div>
  </div>
</body>

</html>