<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    The investigation into your dispute for the transaction of ${{amount}} made on {{date}} at {{companyName}} has been completed. We investigated your claim, and based on the details provided by you and the merchant, we determined that no error occurred because: {{reason}}. Therefore, we have denied your claim.
  </p>
  <p class='body-text'>
    If you have questions or would like to further pursue your claim, we encourage you to reach out to the merchant directly. You have the right to request the documentation we relied on in our investigation, which you may do by reaching out to support@karmawallet.io.
Again, we appreciate your patience and cooperation throughout the dispute process.
  </p>
  {{>disputeSignature}}
</div>
