<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    The investigation into your dispute for the transaction of ${{amount}} made on {{date}} at {{companyName}} has been completed. We investigated your claim, and based on the details provided by you and the merchant, we determined that no error occurred because: {{reason}}. Therefore, we have denied your claim.
  </p>
  <p>
    Your Karma Wallet Card account was paid a provisional credit in the amount of ${{amount}} until your claim was resolved. This provisional credit will now be reversed on {{reversalDate}} at the earliest. If the reversal might result in a negative card account balance, we ask you to add funds now to ensure this does not happen. Again, we appreciate your patience and cooperation throughout the dispute process.
  </p>
  {{>disputeSignature}}
</div>
