<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text">
    Your ACH funds transfer request has been initiated! Here are the details:
  </p>
  <div class="cta-container">
    <a class="cta-link" href="{{passwordResetLink}}">Change Password</a>
  </div>
  <p class="support-text">
    For support, contact Karma Wallet at support@theimpactkarma.com {{amount}}, {{date}}, {{accountMask}}, {{accountType}}
  </p>  
</div>