<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text">
    Your ACH funds transfer request has been initiated! Here are the details:
  </p>
  <div class="summary-container">
    <div class="summary-row">
      <span class="bold">From:</span>
      <span class="uppercase">{{accountType}} {{accountMask}}</span>
    </div>
    <div class="summary-row">
      <span class="bold">Frequency:</span>
      <span>One-time</span>
    </div>
    <div class="summary-row">
      <span class="bold">Initiation Date:</span>
      <span>{{date}}</span>
    </div>
    <div class="summary-row">
      <span class="bold">Amount:</span>
      <span>{{amount}}</span>
    </div>
  </div>
  <div class="authorization-container">
    <p>Here's your ACH authorization, for your records:</p>
    <p class="italic">I authorize Pathward®, N.A. to electronically debit my account (and, if necessary, electronically credit my account to correct erroneous debits) for a single transaction.</p>
  </div>

  <div class="signature-container">
    <p>If your have any questions, please reach out to <a id="support-link" href="mailto:support@karmawallet.io" target="_blank">support@karmawallet.io</a></p>
    <p>Best,</p>
    <p>The Karma Wallet Team</p>
  </div>
  <p class="italic">The Karma Wallet Visa® Prepaid Card is issued by Pathward®, N.A., Member FDIC, pursuant to a license from Visa U.S.A. Inc.</p>
</div>